<div class="hero-unit">
	<h1>Welcome to Cat Nip!</h1>
	<p>
		The go-to archive of feline awesomeness.
		For obvious reasons, dogs masquerading as 
		cats for example, uploaded photos must be 
		moderated before being published.
		<%= link_to "#", "#" %>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>